
<h2 class="title_tj">
<p>文章<span>推荐</span></p>
</h2>
<div class="bloglist left">
<ul class="content">
<% @articles.each do |article| %>
<li>
	<h3><%= article.title %></h3>
	<p><%= delete_markdown(article.content[0,200])  %>...</p>

	<%= link_to "阅读全文>>", show_path(:id => article.id), class: "readmore"  %>

	<p class="dateview_index"><span><%= article.created_at.strftime("%Y-%m-%d %H:%M") %></span><span>  作者：<%= article.name %></span></p>
            <div class="line"></div>
</li>
<% end %>
</ul>
</div>

